<!DOCTYPE html>
<html lang="<%- config.language %>">
  <%- partial('_partial/scripts/_ctrl') _%>
  <%- partial('_partial/head') _%>

  <style>
    :root{
      --bgurl: url("");
    }
  </style>
  <script type="text/javascript">
    var root = document.querySelector(':root')

    if((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
        // document.root.style.setProperty('--bgurl', url('https://iw233.cn/api.php?sort=mp'));
        root.style.setProperty('--bgurl', 'url("https://iw233.cn/api.php?sort=mp")');
    } else {
        // document.root.style.setProperty('--bgurl', url('https://iw233.cn/api.php?sort=pc'));
        root.style.setProperty('--bgurl', 'url("https://iw233.cn/api.php?sort=pc")');
    }
</script>




  <body itemscope itemtype="http://schema.org/WebPage">
    <%- partial('_partial/header', null, {cache: false, path: path}) %>
    <div id="l_body">
      <%- partial('_partial/cover') %>
      <div id="safearea">
        <div class="body-wrapper">
          <%- body %>
          <%- partial('_plugins/pjax/pdata') %>
        </div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
        <a id="s-top" class="fa-solid fa-arrow-up fa-fw" href="/" onclick="return false;" title="top"></a>
      </div>
    </div>
    <div>
      <%- partial('_partial/scripts/index') %>
      <% if (theme.plugins.pjax.enable){ %>
        <%- partial('_plugins/pjax/index') %>
      <% } %>
    </div>
  <!-- Custom Files bodyEnd begin-->
  <%- volantis_inject('bodyEnd') %>
  <!-- Custom Files bodyEnd end-->
  </body>
</html>
